.notification {
    position: fixed;
    z-index: 1000;
    padding: 5px;
    border: 1px solid black;
    font-size: 20px;
    background: white;
    text-align: center;
}

.welcome {
    background: #21b6b6;
    color: rgb(250, 250, 250);
}